@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #f4f7fd;
  font-family: "Plus Jakarta Sans", sans-serif;
}
button {
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;
}
body {
  background-color: #f4f7fd;
  height: 100vh;
}
.light {
  --background: #f4f7fd;
}
.dark {
  --background: #20212c;
}
.contentLight {
  --background: #fff;
}
.contentDark {
  --background: #2b2c37;
}
.scrollbar::-webkit-scrollbar {
  height: 13px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(248, 247, 247);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

@layer components {
  .scrollbar::-webkit-scrollbar-track {
    @apply dark:bg-contentDarkBG;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply dark:bg-slate-400;
  }
  body {
    @apply dark:bg-[#20212C];
  }
  .button {
    background-color: #635fc7;
    font-size: 15px;
    border-radius: 24px;
    color: white;
    font: bold;
  }
  .button:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease;
  }
  label {
    @apply dark:text-white;
    transition: all 1ms ease-in-out;
  }
  input {
    @apply dark:bg-contentDarkBG;
    @apply dark:text-white;
    transition: all 1ms ease-in-out;
  }
  textarea {
    @apply dark:bg-contentDarkBG;
    transition: all 1ms ease-in-out;
  }
  select {
    @apply dark:bg-contentDarkBG;
    @apply dark:text-white;
    transition: all 1ms ease-in-out;
  }
  h2 {
    @apply dark:text-white;
    transition: all 1ms ease-in-out;
  }
}
.scrollbar {
  @apply dark:bg-[#20212C];
  transition: all 1ms ease-in-out;
}
.optionsDiv {
  @apply dark:bg-[#20212C];
  transition: all 1ms ease-in-out;
}
p {
  @apply dark:text-white;
  font-size: 15px;
}
