@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  background-color: #f4f7fd;
}

.light {
  --background: #f4f7fd;
}
.dark {
  --background: #20212c;
}
.contentLight {
  --background: #fff;
}
.contentDark {
  --background: #2b2c37;
}
