@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #f4f7fd;
  font-family: "Plus Jakarta Sans", sans-serif;
}
button {
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;
}

.light {
  --background: #f4f7fd;
}
.dark {
  --background: #20212c;
}
.contentLight {
  --background: #fff;
}
.contentDark {
  --background: #2b2c37;
}
.scrollbar::-webkit-scrollbar {
  height: 13px;
}
.scrollbar::-webkit-scrollbar-track {
  background: rgb(227, 228, 241);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
